/* main */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.skip-link {
  opacity: 0;
}

body {
  margin: 1.5em;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #EABE6C;
  color: #240A34;
}

svg {
  width: 1em;
}

.container, nav {
  max-width: 80ch;
  margin: 8vh auto;
}

nav ul {
  --min: 10ch;
  --gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
}

nav ul > * {
  flex: 1 1 var(--min);
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a:not([class]) {
  text-underline-offset: 0.25em;
}
